@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");

body {
  background-color: white;
}

button {
  all: unset;
}

#wrapper {
  /* border: 5px solid red; */
  max-width: 45rem;
  margin: 0 auto;
}

/* #wrapper > * {
  border: 5px solid green;
} */

#cover {
  margin: 3rem 0;
}

#cover h3 {
  font-family: "Nanum Myeongjo", serif;
  text-align: center;
  font-weight: 500;
  margin: 3rem 0 1rem 0;
  letter-spacing: 1rem;
  color: rgba(5, 5, 5, 0.4);
}

#cover h1 {
  /* position: relative; */
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  top: 3rem;
  font-weight: 300;
  font-size: large;
  letter-spacing: 0.5rem;
  /* left: 3rem; */
  /* margin: auto auto; */
  color: rgba(255, 0, 0, 0.3);
}

#cover a {
  border: 1px solid rgba(0, 0, 255, 0.05);
  display: block;
  padding: 0.2rem 0;
  margin: 1rem 1rem;
  border-radius: 100%;
  background-color: rgba(0, 255, 0, 0.05);
}

#cover img {
  margin: 0 auto;
  display: block;
  width: 97%;
  border-radius: 100%;
  /* padding: 1rem; */
}

#cover p {
  position: relative;
  font-family: "Nanum Myeongjo", serif;
  font-size: xx-small;
  text-align: center;
  letter-spacing: 0.5rem;
  font-weight: 500;
  color: rgba(0, 0, 255, 0.4);
  line-height: 1rem;
}

#gallery {
  margin: 3rem 0;
  display: flex;
}

#gallery div {
  flex-grow: 1;
  margin: 1rem 0.5rem;
}

#gallery img {
  width: 100%;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  display: block;
}

#gallery a {
  display: block;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

#gallery button {
  all: unset;
  display: block;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

#gallery h3 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: rgba(0, 255, 0, 0.05);
  color: rgba(0, 0, 0, 0.4);
  border-left: 1px solid rgba(0, 0, 255, 0.05);
  border-right: 1px solid rgba(0, 0, 255, 0.05);
  border-bottom: 1px solid rgba(0, 0, 255, 0.05);
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  padding: 0.2rem;
  font-size: xx-small;
}

#modal {
  display: none;
  position: fixed;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  max-width: 45rem;
  overflow: hidden;
}
#modal .modal-content {
  display: flex;
}

#modal .modal-content img {
  display: block;
  margin: auto 0;
  width: 100%;
}
