:root {
}

@font-face {
  font-family: "MapoGoldenPier";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 20px 0px;
  /* font-family: "MapoGoldenPier", serif; */
  /* font-weight: 100; */
  /* letter-spacing: 10px; */
}

img {
  width: 100%;
}

.cover {
  /* text-align: center; */
}

.contact {
  width: 100%;
  background-color: aqua;
}
