@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

#wrapper {
  font-family: "GmarketSansLight";
  /* border: 3px solid red; */
  border-radius: 1rem;
  max-width: 32rem;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#wrapper > * {
  /* border: 3px solid green; */
  border-radius: 1rem;
}

/* PROLOGUE */

#prologue {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 94%;
  height: 28600px;
  /* justify-content: center; */
}

#prologue .cover {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#prologue .hello {
  text-align: center;
  /* margin-top: 30vw; */
  align-self: center;
  opacity: 1;
}

#prologue h1 {
  font-size: xx-large;
  letter-spacing: 0.4rem;
  margin: 1rem 0;
}

#prologue h2 {
  font-size: medium;
  margin: 1rem 0;
}

#prologue h3 {
  font-size: small;
  margin: 1rem 0;
}

#prologue .message {
  text-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#prologue img {
  width: 100%;
}

#prologue .content-1 {
  display: flex;
}

#prologue .img-message-1 {
  opacity: 0;
}

#prologue .img-message-2 {
  opacity: 0;
}

#prologue .img-message-3 {
  opacity: 0;
}

#prologue .img-message-4 {
  opacity: 0;
}

#prologue .img-message-5 {
  opacity: 0;
}

/* INFO */

#info {
  width: 94%;
  margin: 1rem 0px;
}

#info .card-body {
  font-family: "GmarketSansLight";
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info .card-text {
  text-align: center;
  font-size: smaller;
  letter-spacing: 0.1rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}

#info .card-title {
  font-size: medium;
}

/* MAPS */

#maps {
  width: 94%;
  margin: 1rem 0px;
}

#maps p {
  text-align: center;
  font-size: small;
  line-height: 1.4rem;
}

#maps .map p {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

#maps .accordion-button {
  font-family: "GmarketSansLight";
  color: black;
  background-color: white;
}

#maps .accordion-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

#maps #map-weddinghall {
  border-radius: 0.4rem;
}

#maps .map-content {
  text-align: center;
}

#maps .nav-link {
  font-size: small;
}

#maps .alert {
  text-align: center;
  font-size: small;
}

/* GALLERY */
#gallery {
  width: 100%;
  margin: 1rem 0px;
}

#gallery .thumbnail {
  display: flex;
}

#gallery img {
  width: 100%;
}

/* COMMENTS */

#comments {
  width: 94%;
}
